#logout-button.dark-theme, #go-back.dark-theme {
    background-color: none;
    color: #fff;
}

#logout-button.dark-theme:hover, #go-back.dark-theme:hover {
    background-color: orange;
}

.login-register.dark-theme h2 {
    color: #ffffff;
}

.login-register.dark-theme input, .login-register.dark-theme button {
    background-color: #1f1f1f;
    color: #ffffff;
    border: 1px solid #444;
}

.login-register.dark-theme input:focus, .login-register.dark-theme button:hover {
    border-color: #ff7f50;
}
