#logout-button, #go-back {
  position: fixed;
  top: 15px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
  border: none;
  color: black;
  background: none;
}

#logout-button i, #go-back i {
  font-size: 18px;
}

#logout-button:hover, #go-back:hover {
  background-color: #ff7f50;
}
