.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.message {
    padding: 14px 18px;
    margin: 8px 0;
    max-width: 75%;
    border-radius: 20px;
    line-height: 1.6;
    word-wrap: break-word;
    position: relative;
    font-size: 0.95rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.sent {
    align-self: flex-end;
    margin-right: 36px;
    background-color: #F0F0F0;
    color: black;
}

.received {
    align-self: flex-start;
    background-color: #C8C8C8;
    color: black;
}

.message-time {
    font-size: 0.75rem;
    color: darkgrey;
    position: absolute;
    bottom: -18px;
}

.sent .message-time {
    right: 12px;
}

.received .message-time {
    left: 12px;
}
